<html>
	<script src="script.js"></script>
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="style.css" rel="stylesheet" type="text/css" />
	
<body >

			<div class="outerthing-aboutweb" >
		<div class="mainthing-aboutweb">
			<img class="bluimg" src="BLUTHIN.jpg" height="20px" width="100%">
			<div class="heaad">
				&nbsp <b>ABOUT WEBSITE</b>

				<button class="button" onclick="closeemail()">X </button>
			</div>
<br><br>
			This is a showcase website inpired from Windows 98. I coded this website from scratch, only libraries I used are <a href="https://github.com/expressjs/session#readme">Express-Session</a> for session storage and <a href="">SpeakEasy</a> for authenticator code generation. All credits to Microsoft for Icons. Hope you enjoy your stay.
			<br>
			<br>
		</div>
		</div>
	
</body>
	
</html>