<html>
	<script  src="script.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="style.css" rel="stylesheet" type="text/css" />

	<body style = "background-color : #008080">	
		
			<div class="outerthing-login" >
		<div class="mainthing-login" id ="login">
			<img class="bluimg" src="BLUTHIN.jpg" height="20px" width="100%">
			<div class="heaad" id = "loginheader">
				&nbsp <b>WELCOME TO DE WEBSITE, LOGIN</b>

			
			</div>
<br>

			
			
<div class="login">
<div class="logiin">

	<br>
<div style='width="100%"'><center>Type an usename and password to log in<br></center></div>
	&nbsp
	<form id="forrm" action="/login" method="post"><u>U</u>ser name:
		&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <input type="text" name ="uname" id="uname" placeholder="The name">
		
		<button type ="button" class ="regi" onclick="window.location.href='/register'">REGISTER</button><br>


		
		<u>O</u>TP from <u>A</u>uthenticator:
		&nbsp<input type="text" name="otp" maxlength="6" id = "otp" placeholder="THE CODE">
<button type ="button" class ="submi" onclick="manual_login()">OK</button>
		
	</form> 
	
	</div>
</div>

			<br>
			<center><div class="err"><br></div></center>
			
		</div>
		</div>
	</body>
</html>