<html>
	<script  src="script.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="style.css" rel="stylesheet" type="text/css" />

	<body style = "background-color : #008080">	
		
			<div class="outerthing-login" >
		<div class="mainthing-login">
			<img class="bluimg" src="BLUTHIN.jpg" height="20px" width="100%">
			<div class="heaad">
				&nbsp <b>WELCOME TO DE WEBSITE, REGISTER</b>

			</div>
<br>

			
			
<div class="login">
<div class="logiin">

	<br>
<div style='width="100%"'><center>Type an usename and scan the QR to log on<br></center></div>
	<br>
		<center>	 <div id="qro" >

			
				<img id ="qr" >
			</div></center><br>
	&nbsp
	<form id="forrm" action="/regster" method="post"><u>U</u>ser name:
		&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <input type="text" name ="uname" id="uname" placeholder="Username"><br><br>
	
		<u>O</u>TP from <u>A</u>uthenticator:
		&nbsp<input type="text" name="otp" maxlength="6" id = "otp-regis" placeholder="THE CODE">
<button type ="button" class ="submi" onclick="auto_register()">OK</button>
		
	</form> 
	
	</div>
</div>

			<br>
			<center><div class="err"><br></div></center>
			
		</div>
		</div>
	</body>
</html>